@model FerreteriaFide.Domain.Models.Marca
@{
    ViewBag.Title = "Marca";
    ViewBag.pTitle = "Marca";
    ViewBag.pageTitle = "Ferreteria Fide";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
<!-- jquery.vectormap css -->
<link href="~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />

<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">

                <form class="custom-validation" action="#">


                    <div class="mb-3">
                        <label>Nombre de la Marca</label>
                        <div>
                            @Html.TextBoxFor(u => u.Nombre, new {@class = "form-control", placeholder = "Digite el nombre de la marca" })

                        </div>
                    </div>
                    <div class="mb-0">
                        <div>
                            <button type="submit" formaction=@Url.Action("Edit","RegistrarMarca") formmethod="post" class="btn btn-primary waves-effect waves-light me-1">
                                Registrar
                            </button>
                            <button type="reset" class="btn btn-secondary waves-effect">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div> <!-- end col -->

</div> <!-- end row -->
<!-- end row -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>


<!-- apexcharts -->
<script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

<!-- jquery.vectormap map -->
<script src="~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>

<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<script src="~/assets/js/pages/dashboard.init.js"></script>

<!-- App js -->
<script src="~/assets/js/app.js"></script>