@{
    ViewBag.Title = "Registrar Productos";
    ViewBag.pTitle = "Registrar Productos";
    ViewBag.pageTitle = "Ferreteria Fide";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
              

                <form class="custom-validation" action="#">
                    
                    <div class="mb-3">
                        <label>Descripcion</label>
                        <div>
                            <textarea required class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Puesto</label>
                        <input type="text" class="form-control" required placeholder="Type something" />
                    </div>
                    div class="mb-3">
                        <label>Salario</label>
                        <div>
                            <input data-parsley-type="number" type="text"
                                   class="form-control" required
                                   placeholder="Enter only numbers" />
                        </div>
                    <div class="mb-0">
                        <div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light me-1">
                                Registrar
                            </button>
                            <button type="reset" class="btn btn-secondary waves-effect">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div> <!-- end col -->

</div> <!-- end row -->

<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>

<script src="~/assets/libs/parsleyjs/parsley.min.js"></script>

<script src="~/assets/js/pages/form-validation.init.js"></script>

<script src="~/assets/js/app.js"></script>